@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main{
  background: linear-gradient(120deg, #d0e8f2 0%, #f3d1f4 100%);
}

.profile-card{
  border: 1px solid #ffffff50;
  background-color: rgba(255, 255, 255, 0.9); /* Thêm nền nhẹ dịu */
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.image .profile-pic{
  background: #f0f0f0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.data h2{
  color: #333;
}

span{
  color: #666;
}

.buttons .btn{
  background: linear-gradient(to left, #a1c4fd 0%, #c2e9fb 100%);
  color: #333;
  border: 1px solid #a1c4fd;
}

.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.2);
}

fonts.googleapis.com
